.container {
  width: auto;
  max-width: 100%;
  height: 100%;
  min-width:29rem;
  min-height: 100%;
  display: flex;
  background: linear-gradient(#FFCC00, #a18961) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  position:relative;
  background: white;
  width: 45%;
  height: 45%;
  min-width: 390px;
  max-width: 80%;
  margin: 70px auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.imageContainer {
  width:100%;
  min-width: 180px;
  text-align:center;
  padding:15px;
  margin-top: 10px;
  margin-left: 10px;
}

.userInputContainer{
  /*border: 2px solid blue;*/
  padding: 3rem;
  padding-bottom: 5px ;
  padding-top: 10px;
}
.userInputContainer p{
  color:#262626;
  font-size: 19px;
}

.userInputContainer label{
  color:#262626;
  font-size: 19px;
}
.userInputContainer .inputContainer{
  color: #262626;
  font-size: 17px;
  font-weight: 400;
}

.react-switch {
  display: block;
  top: 7px;
  left: 13px;
  }


.imageContainer span {
  display: block;
  object-fit: contain;
  text-align:left;
  max-width:120px;
  max-height:50px;
  line-height: 22px;
  font-weight: 400;
  font-size: 20px;
  margin-left: 245px;
  margin-top: -45px;
  padding-left: 15px;
  border-left: 2px solid #262626;
  color:#262626
}


.nordicenergyLogoImage {
  display: block;
  max-width:230px;
  max-height:50px;
  width: auto;
  height: auto;
  object-fit: fill;
}
.resultingIncomeContainer{
  background: #e6b800;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.resultingIncomeContainer p{
  margin:3px;
  color: white;
  font-size: 19px;
  font-weight: 400;
}

.textFormPairContainer{
margin-bottom: 10px
}

.textFormPairContainer p{
  margin: 0;
 }

.optionalInformationContainer{
  align-items: center;
  text-align: center;
  padding: 10px
  /*border: 2px solid rgb(170, 49, 49);*/
}
.optionalInformationContainer a{
    margin: 15px
    /*border: 2px solid rgb(170, 49, 49);*/

}

.textFormPairContainer .netAmmount{
  font-weight: 500;
  font-size: 27px;
  color:#e6b800;
  margin-bottom: -9px;
  margin-top: 5px;
}
